<div class="row">
    <div class="col-md-6">
        <span class="badge" id="current-stories">10</span> en cours
    </div>

    <div class="col-md-6">
        <span class="badge" id="done-stories">5</span> terminées
    </div>
</div>

<!-- Le tableau récapitulatif des stories -->
<table id="stories-table" class="table table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Business value</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>          
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6">
                <button type="button" class="btn btn-outline-default">
                    Nouvelle Story
                </button>
            </td>
        </tr>
    </tfoot>
</table>