/**
* Classe toast : définition d'un toast
*/
.toast {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px;
    left: 50%;
    border-radius: 5px;
}

.toast.warning {
    color: #fff;
    border: solid 1px #fff;
}
.toast.danger {
    /*background-color: rgba(231, 19, 19, 0.8);*/
    color: #fff;
    border: solid 1px #fff;
}

.toast.danger p {
    background-color: rgba(231, 19, 19, 0.8);
}

.toast.warning p {
    background-color: rgba(231, 192, 19, 0.911);
}

#userMenuOptions.hidden {
    display: none;
}

/**
* Style des icônes
**/
[class^="icon-"], [class*=" icon-"] {
    font-size: 1.5em;
}

.icon-switch {
    color: rgba(4, 136, 59, 0.8);
}
.icon-bin2 {
    color: rgba(243, 9, 9, 0.8);
}

/**
* Loader
**/
.loader.outer{
    position: fixed;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 100;
}
.loader.outer.hidden {
    display: none;
}

.loader.outer div.inner img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 99;
}
